name: Ubuntu test

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  ubuntu_test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
        components: llvm-tools-preview
    - uses: actions/cache@v3
      with:
        path: ./target/llvm-cov-target
        key: llvm-cov-key
    - uses: actions/cache@v3
      with:
        path: ./fake_path/var/lib
        key: image-and-container-key
    - uses: Swatinem/rust-cache@v1
    - uses: davidB/rust-cargo-make@v1
    - uses: taiki-e/install-action@cargo-llvm-cov
    - uses: taiki-e/install-action@nextest
    - name: Install ubuntu dependencies
      run: sudo sh ./scripts/ubuntu.deps.sh
    - name: Install docker
      run: sudo sh ./scripts/install_docker.ubuntu.sh
    - name: Ci file perm
      run: sudo mkdir /run/nanocl && sudo chmod 777 -R /run/nanocl && sudo chmod 777 -R /var/lib/nanocl
    - name: Setup nanocl
      run: cargo run --bin nanocld -- --install-components
    - name: Run tests
      run: cargo make cov
