name: Tests

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  ubuntu_test:
    strategy:
      fail-fast: true
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
        components: llvm-tools-preview
    - uses: actions/cache@v3
      with:
        path: ./target/llvm-cov-target
        key: llvm-cov-key
    - uses: actions/cache@v3
      with:
        path: ./fake_path/var/lib
        key: image-and-container-key
    - uses: Swatinem/rust-cache@v2
    - uses: davidB/rust-cargo-make@v1
    - uses: taiki-e/install-action@cargo-llvm-cov
    - uses: taiki-e/install-action@nextest
    - name: Install ubuntu dependencies
      run: sudo sh ./scripts/ubuntu.deps.sh
    - name: Ci file perm
      run: sudo mkdir /run/nanocl && sudo mkdir /var/lib/nanocl && sudo mkdir -p ./vm_images && sudo chmod 777 -R /run/nanocl && sudo chmod 777 -R /var/lib/nanocl
    - name: Setup
      run: >-
        docker import https://github.com/nxthat/nanocl/releases/download/v0.1.4/nanocl.0.1.4.tar.gz;
        docker run -v /run/docker.sock:/run/docker.sock nanocl:0.1.4 setup;
    - name: Run tests
      run: DOCKER_SOCKET_PATH=/run/docker.sock cargo make test
