name: Tests

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  ubuntu_test:
    strategy:
      fail-fast: true
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
        components: llvm-tools-preview
    - uses: actions/cache@v3
      with:
        path: ./target/llvm-cov-target
        key: llvm-cov-${{ hashFiles('./Cargo.lock') }}
    - uses: Swatinem/rust-cache@v2
    - uses: davidB/rust-cargo-make@v1
    - uses: taiki-e/install-action@cargo-llvm-cov
    - uses: taiki-e/install-action@nextest
    - name: Install ubuntu dependencies
      run: sudo sh ./scripts/ubuntu.deps.sh
    - name: Ci file perm
      run: sudo chmod 777 /run/docker.sock && sudo mkdir /run/nanocl && sudo mkdir /var/lib/nanocl && sudo mkdir -p ./vm_images && sudo chmod 777 -R /run/nanocl && sudo chmod 777 -R /var/lib/nanocl
    - name: Setup
      run: >-
        wget -c https://github.com/nxthat/nanocl/releases/download/v0.1.8/nanocl.0.1.8.tar.gz;
        docker load -i nanocl.0.1.8.tar.gz;
        sudo useradd -U nanocl;
        NANOCL_GID=$(getent group nanocl | cut -d: -f3);
        docker run -i --rm -e NANOCL_GID=$NANOCL_GID -v /run/docker.sock:/run/docker.sock nanocl:0.1.8 setup;
        sleep 10;
        docker run -i --rm -e NANOCL_GID=$NANOCL_GID -v /run/docker.sock:/run/docker.sock nanocl:0.1.8 controller add dns;
        docker run -i --rm -e NANOCL_GID=$NANOCL_GID -v /run/docker.sock:/run/docker.sock nanocl:0.1.8 controller add proxy;
    - name: Run tests
      run: cargo make cov-ci
    - uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODE_COV_TOKEN }}
        files: ./lcov.info
        flags: unittests # optional
        verbose: true # optional (default = false)
